<%# 
  Display slots for an experiment
  render :partial => "slots/slot_table", 
         :locals => {:slots => @slots_in_experiment, :experiment => @my_experiment}
-%>
<% subjects_count = experiment.subjects_count
	# The CS in me cries at how inefficient this is, esp since it's already date-sorted...
   open_slots = slots.select{|slot| !slot.expired? }
   expired_slots = slots.select{|slot| slot.expired? }
%>
<div>
<div class="title" style="float:left; margin-right: 6px">Past</div><input type="checkbox" class="toggle" autocomplete="off" id="expired-slots-toggle" data-unchecked-label ="Hide" data-checked-label="Show" style="float:left" <% if expired_slots.empty? %>disabled='true'<% end %> <% if expired_slots.length > 0 and open_slots.length <= 0 %>checked=checked<% end %> />
	</div>
	<br style="clear:both" />
<table id="slots">
<thead>
	
</thead>
<tbody class="expired" <% unless open_slots.length <= 0 %>style="display:none" <% end %>>
<% expired_slots.each do |slot| %>
	  <%= render(:partial => "slots/show", :locals => {:slot => slot})%>
<% end %>
</tbody>
<tbody class="open">
<% open_slots.each do |slot| %>
  	<%= render(:partial => "slots/show", :locals => {:slot => slot})%>
<% end %>
</tbody>
</table>
<h3 id="no-slots-tag" style="text-align:center; <% unless slots.empty? %>display:none;<% end %>" >No Slots</h3>
<h3 id="no-open-slots" style="text-align:center; margin-top:10px; <% unless open_slots.empty? and not slots.empty? %>display:none;<% end %>">No Future Slots</h3>
<% content_for(:deferred_js) do %>
$("input#expired-slots-toggle").bind('change',function(){
	$("table#slots tbody.expired").slideToggle();
});
$('div#destroy-dialog').dialog({modal:true, autoOpen: false, minWidth: 325});
$('div#cancel-dialog').dialog({modal:true, autoOpen: false, minWidth: 325});
<% end  %>
<div class="dialog" id="destroy-dialog" title="Delete?">
<p>Do you want to delete this time slot? If you do so, it will not be available to participants who try to sign up for your experiment.</p>
</div>
<div class="dialog" id="cancel-dialog" title="Cancel?">
<p>If you cancel this time slot, all participants signed up will be notified the time slot has been cancelled and they will be given an opportunity to sign up for another time.</p>
</div>