html{
	background: url(/images/page-bg.png) left top repeat;
}
body{
	width: 100%;
}

div{
	display:block;
}

h1,h2,h3,h4,h5{
	color:#414449;
}
h1{
	font-size: 2.2em;
	font-weight: bold;
}
h2{ font-size: 2.0em; font-weight:bold}
h3{ font-size: 1.5em}
h4{ font-size: 1.3em}

td{padding:4px}

p{margin:6px}

strong{font-weight:bold}

li{
	list-style-position:inside;}
ul li{
	list-style-type:disc;
}

ol li{
	list-style-type:decimal;
}

a{
	color:#444;
	text-decoration:none;
}

a:hover {
color:#7B6F5F;
text-decoration:underline;
}

div.column-left{
	float:left;
}
div.column-right{
	float:right;
}

div#header, div#content-wrapper, div#footer-wrapper,div#top-tray {
	width:960px;
	margin:0 auto;
	min-height: 100%;
    position: relative;
}

/* Header */

div#header-wrapper{
	background: url(/images/header-bg.png) left top repeat-x;
	width:100%;
	height:44px;
	border-bottom: 3px  #8193A4 solid;
	box-shadow: rgba(0,0,0,0.3) 0px 2px 2px;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px;
	-moz-box-shadow:  rgba(0,0,0,0.3) 0px 2px 2px;
}
div#header{

}

div#header #banner{
	margin-top: 6px;
	padding-left: 50px;
	height: 36px;
	font-size: 2.2em;
	font-weight: 700;
	color: #F0F0F0;
	float:left;
	background: url('/images/logo.png') left top no-repeat;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 1px;
}

/* Tabs */

div.tabs{
		float:right;
}
div.tabs ul{
	float:right;
}
div.tabs ul li{
	list-style-type: none;
	font-weight:bold;
	float:left;
	background: #888;
	height:32px;
	padding-left:12px;
	padding-right:12px;
	padding-top: 12px;
}

div.tabs ul a{
	text-decoration: none;
	color:#232323;
}

div#current_user{
	float:left;
	color: #EEF8FA;
	text-shadow: rgba(0,0,0,0.7) 1px 1px 1px;
	font-size:1.2em;
	margin-right: 8px;
	margin-top: 12px;
}

div.signin{
	float:right;
}

/* Messages */

div.messages{
	float:left;
	min-width:33%;
	padding-left:15%;
	margin: 0 auto;
}

div.messages div{
	padding:4px 5px 4px 5px;
	text-align:center;
	margin-top:10px;
	-webkit-box-shadow: rgba(0,0,0,0.2) 2px 2px 2px;
	-moz-box-shadow: rgba(0,0,0,0.2) 2px 2px 2px;
	box-shadow:2px 2px 2px #333333;
	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
	color: #232323;
	font-weight:bold;
}

div.notice{
	background-color:#619C4C;
}

div.alert{
	background-color:#F26360;
}

div#content-wrapper{
		
}

/* Top Tray */

div#top-tray{
	margin-top: 16px;
	clear:both;
	text-shadow: rgba(0,0,0,0.2) 1px 1px 1px;
}

a#dashboard{
	font-size:2.0em;
	font-weight:300;
	font-color:#494949;
	float:left;
	width: 158px;
}


div.page-title{
	color:#444;
	font-weight: 500;
	font-size:2.0em;
	padding-bottom:2px;
	padding-left:12px;
	float:left;
}


/* Sidebar */

div#sidebar{
	width:145px;
	border-top: 2px solid #4B4B4B;
}


div#sidebar .title{
	font-size:1.5em;
	font-weight:300;
	font-color:#272727;
}

div#sidebar div.box{
	margin-top:12px;
}

div#sidebar ul.slots-list{
	margin-left:8px;
	font-weight: 300;
}

div#sidebar ul.slots-list li{
	list-style-type: none;
	margin-top: 8px;
}

div#sidebar ul.slots-list li span.experiment{
	font-style:italic;
	color:#545454;
}

div#sidebar ul.experiment-list{
	margin-left: 0;
}
div#sidebar ul.experiment-list li {
	margin-top: 8px;
}
div#sidebar ul.experiment-list li a{
	color: #272727;
	font-weight: 300;
	text-shadow: rgba(0,0,0,0.2) 1px 1px 1px;
}

/* Content */

div#content{
	background-color: #fafafa;
	border-top: 2px solid #4B4B4B;
	border-bottom-left-radius:8px 6px;
	border-bottom-right-radius:8px 6px;
	-moz-border-radius-bottomleft:8px 6px;
	-moz-border-radius-bottomright:8px 6px;
	
	padding: 12px 16px 12px 12px;
	
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	
	width:770px;
	min-height:300px;
}

div#content.external{
	box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
	width:932px;
}

/* Footer */

#footer-wrapper{
	clear:both;
}
#footer {
	padding:10px 10px 8px 180px;
	color:#4D5761;
	text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.2);
	font-size:1.1em;
}

#footer a {
	color:#4D5761;
	text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.2)
	text-decoration:none;
}

#footer a:hover {
	color:#fff;
}

/* General */

div#pwd-helper{
	width:240px;
}
div#pwd-helper div{
	margin-top:9px;
	 -webkit-box-shadow: 0 0 10px #999;
    -moz-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
}

div.validation-success{
	border: 2px solid #90D888;
	background-color: #D2F8CD;
	padding: 4px;
}
div.validation-error{
	border: 2px solid #ED7064;
	background-color: #FADFDD;
	padding:4px;
}

div.dialog{
	display:none;
}

/* Icons */
div.icon, span.icon{
	width:16px;
	height:16px;
	margin:2px;
	cursor: pointer;
}
span.icon{
	padding-left:16px;
	padding-top:2px;
}
div.disabled,span.disabled{
	opacity:0.5;
	cursor:default;
}

td.collapse-icon{
	padding:0;
}
div.collapse-icon{
	height:12px;
	width:16px;
}
div.collapse-icon.collapsed{
	background: transparent url(/images/icons/custom/detail-collapsed.png) no-repeat top left;
}
div.collapse-icon.uncollapsed{
	background: transparent url(/images/icons/custom/detail-uncollapsed.png) no-repeat top left;
}

.date-icon{
	background: transparent url(/images/icons/silk-companion/calendar_select_day.png) no-repeat top left;
}
.time-icon{
	background: transparent url(/images/icons/famfamfam/time.png) no-repeat top left;
}
.edit-icon{
	background: transparent url(/images/icons/famfamfam/pencil.png) no-repeat top left;
}
.destroy-icon{
	background: transparent url(/images/icons/famfamfam/delete.png) no-repeat top left;
}
.cancel-icon{
	background: transparent url(/images/icons/led/cancel.png) no-repeat top left;
}
div.cancelled-icon, span.cancelled-icon{
	background: transparent url(/images/icons/diagona/16/150.png) no-repeat top left;
	cursor: default;	
}

span.status-icon, div.status-icon{
	padding-top:0;
	padding-left: 18px;
}

.green-status{
	background: transparent url(/images/icons/custom/statuses.png) no-repeat 0 0;
}
.yellow-status{
	background: transparent url(/images/icons/custom/statuses.png) no-repeat 0 -32px;	
}
.red-status{
	background: transparent url(/images/icons/custom/statuses.png) no-repeat 0 -65px;	
}
.gray-status{
	background: transparent url(/images/icons/custom/statuses.png) no-repeat 0 -98px;
}

/* jQuery UI */
div.progress-bar{
	width: 95%;
}

/* Experiment */

div.experiment{
	margin-bottom:20px;
}

div.experiment div.details{
	margin-bottom: 8px;
}

div.experiment div.signup{
	font-size:1.35em;
	font-weight:bold;
	color: #244882;
}
div.experiment div.signup:hover{
	color: #0B2044;
	text-decoration: underline;
}

div.current_slots{
	float:right;
	width: 250px;
}

ul.experiment-list li{
	list-style-type: none;
	font-weight:bold;
}
ul.experiment-list a{
	margin-top:6px;
	color:#333;
}

div.title, span.title{
	font-size: 1.2em;
	font-weight: bold;
	color:#292B2D;
}

div.title{
	font-size: 1.8em;
}

div.form{
	float:left;
	clear:right;
}

/* Slots */
div.slots div.progress-bar{
	margin-top:6px;
}
div.progress-bar-details{
	font-style:italic;
	color:#444;
	width:95%;
	text-align:center;
	margin-top:2px;
	margin-bottom:12px;
}

table#slots tbody tr:nth-child(4n+1){
	background-color:#F2F0E5;
}
table#slots tbody tr td:first-child{
	padding-left:6px;
}
table#slots tbody tr td.last-child{
	padding-right:6px;
}

div.date-selector{
	margin-top:4px;
}

div.date-selector p {
margin:3px 6px 3px;
}

tr.slot{
	opacity:0.75;
}
tr.slot:hover{
	opacity:1.0;
}

td.open{
	font-weight: bold;
	color: #515151;
	text-align:center;
}
span.closed{
	color: #1C1C1C;
}

div.participants span.name{
	font-weight:bolder;
	font-size:1.1em;
	color:#333;
}

div.participants div.details{
	margin:0px 4px 6px 12px;
	color:#444;
}

tr.expired-slot{
	-webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#666666), color-stop(.8,#44444));
	-moz-linear-gradient(0% 59% 270deg,#666666, #666666, #444444 100%);
}

tr.cancelled-slot td{
	text-decoration:line-through;
}

.clear  {
	clear:both;
}
