<%# 
 For showing experiments in a simple list
 experiments: experiments model object
#%>
<ul class="experiment-list">
<% experiments.each do |experiment| %>
	<a href="<%= experiment_path(experiment) %>"><li><span class="icon status-icon <%= experiment_status_class(experiment) %>"><%= experiment.name %></span></li></a>
<% end %>
</ul>